*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* --col-pri: linear-gradient(134deg,white 10%,black  90%); */
    --col-pri: linear-gradient(134deg, #6A98F0 20%, #4961DC 90%);
   
}
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body{
    
    background: rgb(0, 0, 0);
    color: #ddd;
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
   
}

h1,h2,h3,h4,h5,h6{
    color: white;
    display: block;
    font-family: "Montserrat";
}
a{
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color: #C7D0FF;
    
}
.active a{
    color:  #6D83F2;
}
#section-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 50px 0;
    text-transform: uppercase;
}
#section-subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 25px 0;
    text-transform: uppercase;
}
.align-center{
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}
.container{
    padding:30px 150px ;
    margin: 0 auto;
    max-width: 1400px;
}
@media (max-width:1200px){
    .container{
        padding: 100px;
    }
    
}
@media (max-width:992px){
    .container{
        padding: 50px;
    }
    
}
@media (max-width:768px){
    .container{
        padding: 25px 20px;
    }
    #section-title{
        font-size: 1.4rem;
        padding: 30px 0;
     
    }
    #section-subtitle{
        font-size: 1.2rem;
        padding: 20px 0;
    }
}
@media (max-width:480px){
    .container{
        padding: 20px 20px;
    }
    p{
        text-align: initial;
        font-size: .9em;
    }
    #section-title{
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: "Montserrat";
        padding: 20px 0;
        text-transform: uppercase;
    }
    #section-subtitle{
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        font-family: "Montserrat";
        padding: 10px 0;
        text-transform: uppercase;
    }
}


.cta-btn {
   
    padding: .5em 1em;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: .8em;
    margin: .5em .1em;
    

}
.cta-btn-square {
   
    padding: .5em;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: .8em;
    margin: .5em .1em;

}
.cta-btn:hover,.cta-btn-square:hover{
    transition:all 0.3s;
    /* background: linear-gradient(134deg,black 10%,white 90%); */
    background:  linear-gradient(134deg, #6A98F0 20%,  #5a74f7 90%) ;
   
}
.submit-btn {
   
    padding: .5em 2em;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: block;
    font-size: 1em;
    margin: .5em .1em;
    border: none;
    cursor: pointer;
    font-family: "Montserrat";
    color: white;
    /* font-size: 2em; */
    font-weight: 600;
    letter-spacing: 0.1em;

}
.submit-btn:hover{
    transition:all 0.3s;
    /* background: linear-gradient(134deg,black 10%,white 90%); */
    background:  linear-gradient(134deg, #6A98F0 20%,  #5a74f7 90%) ;
    color: #C7D0FF;
}
/* color: #C7D0FF; */



.header{
    color: white;
    height: 100px;
    position: relative;
    
}
.header .header-wrapper{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    padding: 0 5%;
    z-index: 100;
    /* background:linear-gradient(to right,rgba(0,0,0,0.1) ,rgba(0,0,0,0.1)); */
    background: rgba(0, 0, 0, 0.7);
    transition: ease-in-out .3s;

}
.logo{
    padding: 10px 0;
    transition: ease-in-out .3s;
}
.logo img{
    max-width: 120px;
    
    width: 100%;
    height: auto;
   
}
.nav-bar{
    font-family: "Montserrat";
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.nav-bar .menu{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
   
}
.nav-bar .menu a{
    padding: 5px 15px;
    text-decoration: none;
}

.nav-btn{
    display: none;
}
@media(max-width:768px){
    .nav-bar{
        position: fixed;
        background: rgb(48, 43, 43);
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transition: all ease-in-out .2s;
        transform: translateY(-100%);
    }
    .nav-bar .menu a{
        font-size: 2em;
        display: block;
    }

    .nav-bar .menu{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

.nav-btn{
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
    background: transparent;
    cursor: pointer;
    border: 0;
    padding: 15px 5px;
    display: block;
}

.hamburger{
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
   
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 5px;
    transition: all .1s ease-in-out;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before{
   top: 10px;
}
.hamburger::after{
    bottom: 10px;
}
.nav-open .hamburger{
    background: transparent;
}
.nav-open .hamburger::before{
    transform: rotate(405deg) translateY(-8px) translateX(-7px);
}
.nav-open .hamburger::after{
    transform: rotate(-405deg) translateY(8px) translateX(-7px);
}

.nav-open .nav-bar{
    transform: translateY(0);
}
}
@media (max-width:480px)
{
    .nav-btn{
        
        top: 5px;
        right: 5px;
    }
    .logo img {
        max-width: 60px;
        width: 100%;
        height: auto;
    }
    .nav-bar .menu a{
        font-size: 1.5em;
        display: block;
    }
}
.hero{
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.hero .hero-img{
    margin-left: auto;
    position: absolute;
    right: 0px;
    opacity: 1;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
}
.hero .hero-img img{
    max-height: 100%;
    max-width: 100%;
    min-width: 160px;
    min-height: 280px;
    height: 100%;
    bottom: 0;
    /* right: -40px; */
    z-index: -10;
}
.hero .svg-style{
    width: 40%;
    position: absolute;
    top: 0vh;
    right: 0;
    z-index: -100;
}
.hero .hero-img-tab {
    /* max-height: 100vh; */
    position: relative;
    
}


.hero .svg-style2{
    /* width: 70%; */
    position: absolute;
    bottom: -650px;
    /* right: -200px; */
    z-index: 1;
}
.hero .intro-info{
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family:"Montserrat";
    /* font-size: 54px; */
    padding-left: 15%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}
.hero .intro-info .intro-head{
   
    position: relative;
}
.hero .intro-info .intro-head h1{
    font-size: 6rem;
    line-height: 5.5rem;
    letter-spacing: .4rem;
    color: white;

}
.hero .intro-info .intro-head h3{
    /* text-align: left; */
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    /* padding-right: 100%; */
    /* display: block; */
   /* margin: 0 auto; */
   /* position: absolute; */
   margin-right: auto;

   
  
}
.hero .intro-info .intro-sub{
    font-size: 3rem;
    padding: .2rem 2rem;
    position: relative;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.2));
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 5px;
}
.hero .intro-info .intro-sub::after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.1);
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}
@keyframes shine{
    0%{
       top: -300%;
        left: -500%;
       
    }
    50%{
        top: 200%;
      left: 500%;
     
     
    }
    100%{
        top: -300%;
        left: -500%;
       
       
    }
}
.hero .intro-info .intro-sub::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
    animation: shine 10s ease-in-out infinite alternate-reverse both;
    animation-delay: 10s;

}
.hero .intro-info .cta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.hero .intro-info .main-cta-btn{
    margin: 1rem .2rem;
    display: block;
    font-family: "Montserrat";
}
.hero .intro-info .main-cta-btn a{
   
    padding: .5rem 1rem;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: 0.3s ease-in-out;

}
.hero .intro-info .main-cta-btn a:hover{
    transition: 0.3s;
    /* background: linear-gradient(134deg,black 10%,white 90%); */
    background:  linear-gradient(134deg, #6A98F0 20%,  #5a74f7 90%) ;
   
}
.hero .intro-info .social-links img{
    max-width: 3rem;
}
.hero .intro-info .social-links .link-1 img,.link-3 img{
    animation: rotate 20s linear infinite ;
    /* animation: pulse 10s ease-in-out infinite; */
}
.hero .intro-info .social-links .link-2 img,.link-4 img{
    animation: rotate 20s linear infinite reverse;
}
@keyframes rotate{
    0%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        transform: scale(1.2) rotate(90deg);
    }
    50%{
        
        transform: scale(.8) rotate(180deg);
    }
    75%{
        
        transform: scale(1.2) rotate(270deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}


.hero .intro-info .social-links{
    position: relative;
    
}
/* .hero .intro-info .social-links .fake-cir{
    height: 500px;
    width: 500px;
    position: absolute;
    background: transparent;
    border: tomato 5px dotted;
    border-radius: 50%;
    top: -400px;
    left: -270px;
    z-index: -10;
} */
.hero .intro-info .social-links .link-1{
    position: absolute;
    transform: translate(30px, 60px);
    font-size: 2rem;
    /* z-index: -2; */
}
.hero .intro-info .social-links .link-1 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(-10deg);
}
.hero .intro-info .social-links .link-2{
    position: absolute;
    transform: translate(-130px, 60px);
    font-size: 2rem;
    /* z-index: -2; */
    
}
.hero .intro-info .social-links .link-2 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(20deg);
}
.hero .intro-info .social-links .link-3{
    position: absolute;
    transform: translate(-250px, -20px);
    font-size: 2rem;
    /* z-index: -2; */
}
.hero .intro-info .social-links .link-3 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(40deg);
}
.hero .intro-info .social-links .link-4{
    position: absolute;
    transform: translate(-310px, -130px);
    font-size: 2rem;
    /* z-index: -2; */
}
.hero .intro-info .social-links .link-4 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(70deg);
}
.hero .intro-info .intro-head .dev-hello {
    position: absolute;
  
    font-size: 15vw;
    left: -100px;
    top: -50px;
    font-family: "Montserrat";
    color: rgb(41, 38, 38);
    z-index: -5;
}
@media(max-width:992px)
{
    .hero .hero-img-tab img{
        transform: translateX(-80%);
        position: absolute;
        z-index: -10;
        /* max-width: 400px; */
        left: 100%;
        top: -40vh;
        }
    .hero{
        overflow: hidden;
    }
    .hero .hero-img{
        display: none;
    }
    .hero .intro-info{ 
        padding-left: 25%;
    }
}
@media(min-width:992px)
{
    
    .hero .hero-img-tab img{
        display: none;
        }
}
@media(max-width:768px)
{
    .hero .hero-img-tab img{
    transform: translateX(-70%);
    position: absolute;
    z-index: -10;
    /* max-width: 400px; */
    left: 100%;
    top: -40vh;
    }
}
@media(max-width:768px)
{   .header{
    color: white;
    height: 100px;
    position: relative;
    
}
    .header .header-wrapper{
        width: 100%;
        /* height: 100%; */
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        position: fixed;
        padding: 0 5%;
        z-index: 100;
        /* background:linear-gradient(to right,rgba(0,0,0,0.1) ,rgba(0,0,0,0.1)); */
        background: rgba(0, 0, 0, 0.9);
        transition: ease-in-out .3s;
    
    }
    .hero .intro-info .intro-head h1{
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: .1em;
    
    }
    .hero .intro-info .intro-head h3{
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: .1em;
    }
    .hero .intro-info .intro-sub{
        font-size: 2.5rem;
        padding: .2rem 2rem;
        margin: 1rem 0;
    }

    .hero .intro-info .social-links img{
        max-width: 2rem;
    }
    .hero .intro-info .social-links .links-s i{
        left: 0.1em;
        top: 0;
    }
    .hero .intro-info .social-links{
        transform: translate(110px,-30px);
    }
    .hero .intro-info .intro-head .dev-hello {
        left: 0;
    }
    
    .hero .intro-info{ 
        padding-left: 20%;
    }
    
}
@media (max-width:480px){
    .hero .intro-info .social-links .link-1{
        transform: translate(-60px, 60px);
       
    }
    .hero .intro-info .social-links .link-1 i{
        transform: rotateZ(-10deg);
    }
    .hero .intro-info .social-links .link-2{
        transform: translate(-115px, 70px);
    }
    .hero .intro-info .social-links .link-2 i{
        transform: rotateZ(0deg);
    }
    .hero .intro-info .social-links .link-3{
        transform: translate(-165px, 60px);
    }
    .hero .intro-info .social-links .link-3 i{
        transform: rotateZ(20deg);
    }
    .hero .intro-info .social-links .link-4{
        transform: translate(-210px, 35px);
    }
    .hero .intro-info .social-links .link-4 i{
        transform: rotateZ(30deg);
    }
    .hero .intro-info .intro-head h1{
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: .1em;
    
    }
    .hero .intro-info .intro-head h3{
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: .1em;
    }
    .hero .intro-info .intro-sub{
        font-size: 2rem;
        padding: .2rem 2rem;
        margin: 1rem 0;
    }
    .hero .hero-img-tab img{
        transform: translateX(-50%);
        position: absolute;
        z-index: -10;
        top: -40vh;
    }
    .hero .intro-info{
        padding-left: 5%;
    }
}
/* ================About Section ============= */

.about-me .grid-view{
    display: grid;
    grid-template-columns: 
    65%  35%;
    grid-gap: 20px;
}
.about-me .container .image-about-small{
    display: none;
}
.about-me .container .cols{
    /* padding: 0 15px; */
    text-align: justify;
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}
.about-me .container .image-about{
    display: none;
}
.about-me .container .image-about img{
    max-width: 200px;
    max-height: 300px;
    width: 100%;
}
.about-me .container .cols p{
    padding-bottom: 1em;

}

/* =============== What I do ======= */
.what-i-do{
    position: relative;
}
.about-me .container .what-i-do .flex-b3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    margin: 0 auto;
   
    
}
.about-me .container .what-i-do .flex-b3 >div{
    padding: 0 15px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    background: #303030;
    margin: 0 15px;
    padding: 15px;
    /* min-width: 400px; */
    flex-wrap: wrap;
}
.about-me .container .what-i-do .game img{
    position: absolute;
    z-index: -1000;
    max-width: 200px;
    left: 0px;
    transition: .5s;
}
/* .about-me .container .what-i-do .game:hover{
    transform: rotateZ(10deg) translateX(10px);
    transition: .7s;
} */
.about-me .container .what-i-do .game:hover img{
    transform: rotateZ(-30deg) translateX(-80px);
    transition: .7s;
}
.about-me .container .what-i-do .web{
    transition: .5s;
}
.about-me .container .what-i-do .web .tilted{
    transition: 1.5s;
    display: inline-block;
}
.about-me .container .what-i-do .web:hover{
    animation: eq .8s ease ;
}
.about-me .container .what-i-do .web .tilted{
    transition: 1.5s all;
   
  }
.about-me .container .what-i-do .web:hover .tilted{
  animation: tilt 1s ease-in-out 250ms reverse;
 
}
/* .about-me .container .what-i-do .graphics  {
    transition: 5s ease-in-out; 
} */
.about-me .container .what-i-do .graphics:hover .graphics-design {
    transition: 5s;
    background: -webkit-linear-gradient(rgb(94, 25, 94), blue,green,yellow,orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
@keyframes eq{
    0%{
        transform: translate(2px,-1px) rotateZ(7deg) ;
    }
    5%{
        transform: translate(5px,3px) rotateZ(2deg) ;
    }
    10%{
        transform: translate(-5px,3px) rotateZ(2deg) ;
    }
    15%{
        transform: translate(0px,-2px) rotateZ(0deg) ;
    }
    20%{
        transform: translate(-5px,3px) rotateZ(-3deg) ;
    }
    25%{
        transform: translate(-1px,6px) rotateZ(1deg) ;
    }
    30%{
        transform: translate(-3px,-7px) rotateZ(-3deg) ;
    }
    35%{
        transform: translate(4px,-2px) rotateZ(4deg) ;
    }
    40%{
        transform: translate(-5px,5px) rotateZ(-3deg) ;
    }
    45%{
        transform: translate(0px,0px) rotateZ(5deg) ;
    }
    50%{
        transform: translate(0px,0px) rotateZ(0deg) ;
    }
}
@keyframes tilt{
    0%{
        transform:translateY(0px) rotate(0deg) ;
        color: white;
    }
    40%{
        transform: translateY(15px) rotate(30deg);
        color: red;
    }
    60%{
        transform: translateY(15px) rotate(30deg);
        color: red;
    }
    80%{
        transform: translateY(15px) rotate(30deg);
        color: red;
    }
    100%{
        transform: translateY(15px) rotate(30deg);
        color:red;
    }
}
@media (max-width:992px) and (min-width:768px)
{
    .about-me .container .image-about{
        display: block;
        width: 100%;
        height: 100%;
    }
}
@media (max-width:768px)
{
    .about-me .container .what-i-do .game img{
        left: 80px;
        top: 100px;
        max-width: 150px;
    }
    .about-me .container .what-i-do .game:hover img{
        transform: rotateZ(-10deg) translateY(-140px);
        transition: .7s;
    }
    .about-me .container .what-i-do .flex-b3{
        flex-wrap: wrap;
        max-width: 600px;
    }
    .about-me .container .what-i-do .flex-b3 >div{
        padding: 20px;
        margin: 20px 0;  
    }
    .about-me .grid-view{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .about-me .container .image-about-small{
        display: block;
    }
    .about-me .container .image-about-small img{
        display: block;
        margin: 0 auto;
        max-width: 200px;
        height: auto;
        padding-bottom: 20px;
        width: 100%;
    }
}


/* ================ My Skills ========== */
.about-me .container .my-skills{
    position: relative;
    /* overflow: hidden; */
}
.about-me .container .my-skills .outer-parallax{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 150px 0;
    font-size: 100px;
    color: #6D83F2;
}
.about-me .container .my-skills .outer-parallax img{
    width: 100px;
}
.about-me .container .my-skills .inner-parallax p{
    
    position: absolute;
}
.about-me .container .my-skills .inner-parallax  {
   position: absolute;
   z-index: -50;
   color: #9aa7e7;
   opacity: .7;
    width: 100%;
    height: 100%;
    /* background: chartreuse; */
}
@media (max-width:480px){
    .about-me .container .my-skills .inner-parallax  {
        display: none;
    }
    .about-me .container .my-skills .outer-parallax{
        padding: 20px 0;
        font-size: 50px;
    }
    .about-me .container .my-skills .outer-parallax img{
        width: 50px;
    }
}


/* ================ My Projects================ */
.my-projects .container .project-wrapper{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-row: 1fr;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    grid-gap: 20px;
    text-align: justify;
    padding: 15px;
    margin: 50px 0;
}

.my-projects .container .project-wrapper .project-text .project-content h2{
    padding: .5em 0;
    font-size: 1.5em;

}
.my-projects .container .project-wrapper .project-text .more-info{
    display: flex;
    justify-content: space-between;
}
.my-projects .container .project-wrapper .project-text .more-info >div{
    text-align: center;
    margin-top: 50px;
}
.my-projects .container .project-wrapper .project-text .more-info .tech-used{
    font-size: 2em;
    color:#6D83F2;
}
.my-projects .container .project-wrapper .project-text .more-info .tech-used >  {
    padding-left: 1em;
}
.my-projects .container .project-wrapper .project-view {
    justify-content: center;
    align-items: center;
    display: flex;
    /* background:linear-gradient(rgba(134, 147, 212, 0.3), rgba(199, 208, 255,.3)); */
   
   
}
.my-projects .container .project-wrapper .project-graphics img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media(max-width:768px)
{
    .my-projects .container .project-wrapper{
        
        grid-template-columns: 1fr;
    }
    .my-projects .container .project-wrapper .project-text .project-content h2{
        font-size: 1.3em;
    }
    .my-projects .container .project-wrapper .project-text .more-info >div{
        margin-top: 25px;
    }
    .my-projects .container .project-wrapper{
        
        margin: 25px 0;
    }
}
@media(max-width:480px)
{
    .my-projects .container .project-wrapper{
        
        margin: 50px 0;
    }
    .my-projects .container .project-wrapper .project-text .project-content h2{
        font-size: 1.2em;
    
    }
    .my-projects .container .project-wrapper .project-text .more-info >div{
        margin-top: 20px;
    }
}

/* ====================== Contact Form ================== */
.contact-me .container .wrapper-all{
    display: flex;
    /* flex-wrap: wrap; */
    
    justify-content: space-evenly;
    align-items: center;
    /* background: crimson; */
}
@media(max-width:768px)
{
    .contact-me .container .wrapper-all{
       flex-wrap: wrap;
    }
}
.contact-me .container .wrapper-all .contact-image{
    background: url("../img/small-squares.svg");
    background-size: cover;
    flex:40%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    max-width: 550px;
    height: auto;
}
.contact-me .container .wrapper-all .contact-image .social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.contact-me .links{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    padding:.5em;
}
.links >a{
    padding: .1em 0;
}
.mail{
    padding:1em .5em;
    font-size: 1.2em;
}
.contact-me .container .wrapper-all .contact-image img{
   min-width: 200px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    display: block;
    border-radius: 50px;
}
.contact-me .container .wrapper-contact{
    width: 550px;
    margin: 0 auto;
}
.contact-me .container .wrapper-contact .contact-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(63, 58, 58);
    padding: 2em;
    
}
.contact-me .container .wrapper-contact .contact-form >div{
    padding: .5em 1em;
}
.contact-me .container  .wrap-inputs{
    width: 100%;
   
}
.contact-me .container  .wrap-inputs .inputs{
    width: 100%;
   
    font-family: "Montserrat";
    border-radius: 5px;
    line-height: 1.2;
    padding: 1em ;
    min-height: 3em;
    /* background: rgb(70, 64, 64); */
    /* color: white; */
    font-weight: 600;
}
.contact-me .container  .wrap-inputs .message-contact{
    width: 100%;
    min-height: 8em;
}
.contact-me .container .submit-btn{
  margin: 0 auto;
}
input {
	outline: none;
	border: none;
}
textarea {
    outline: none;
    border: none;
}
@media (max-width:480px){
    .contact-me .links{
       
        font-size: 1.5em;
        padding:.5em;
    }
    .links >a{
        padding: .2em 0;
    }
    .mail{
        padding:1em .5em;
        font-size: 1em;
    }
    .contact-me .container  .wrap-inputs .inputs{
        font-size: .7em;
    }
}

  /* ==============Footer============== */
  .footer{
      background: var(--col-pri);
  }
  .footer .footer-text{
      margin: 0 auto;
      width: fit-content;
      margin-top: 50px;
    
      
  }
  .footer .footer-text i{
      color: red;
      transition:all 5s;
  }
  .footer .footer-text span{
      font-size: 1.5em;
      display: block;
      padding: .5em; 
      font-family: "Montserrat";
     
  }
  .footer .footer-text span i{
      animation: pulse 3s ease-in-out infinite;
      
  }
  @keyframes pulse{
      0%{
          transform: scale(1);
      }
      20%{
          transform: scale(1.4);
      }
      35%{
          transform: scale(1);
      }
      55%{
          transform: scale(1.4);
      }
      70%{
          transform: scale(1);
      }
      100%{
          transform: scale(1);
      }
  }