*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* --col-pri: linear-gradient(134deg,white 10%,black  90%); */
    --col-pri: linear-gradient(134deg, #6A98F0 20%, #4961DC 90%);
   
}
body{
    width: 100%;
    height: 100%;
    background: rgb(49, 46, 46);
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
html{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
h1,h2,h3,h4,h5,h6{
    color: white;
    display: block;
}
a{
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color: #C7D0FF;
    
}
#section-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 50px 0;
    text-transform: uppercase;
}
#section-subtitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 30px 0;
    text-transform: uppercase;
}
.align-center{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1em;
}
.container{
    padding:100px 200px;
}
.container-thin{
    padding: 100px;
}

.cta-btn {
   
    padding: .5em 1em;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: .8em;
    margin: .5em .1em;
    

}
.cta-btn-square {
   
    padding: .5em;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: .8em;
    margin: .5em .1em;

}
.cta-btn:hover,.cta-btn-square:hover{
    transition:all 0.3s;
    /* background: linear-gradient(134deg,black 10%,white 90%); */
    background:  linear-gradient(134deg, #6A98F0 20%,  #5a74f7 90%) ;
   
}

.header{
    color: white;
    height: 100px;
    position: relative;
    
}
.header .header-wrapper{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    padding: 0 5%;
    z-index: 100;
    /* background:linear-gradient(to right,rgba(0,0,0,0.1) ,rgba(0,0,0,0.1)); */
    background: rgba(49, 46, 46,.05);
    transition: ease-in-out .3s;

}
.logo{
    padding: 10px 0;
    transition: ease-in-out .3s;
}
.logo img{
    max-width: 120px;
    
    width: 100%;
    height: auto;
   
}
.nav-bar{
    /* position: absolute; */
   
    font-family: "Montserrat";
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* height: 100px; */
   
}
.nav-bar .menu{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
   
}
.nav-bar .menu a{
    padding: 5px 15px;
    text-decoration: none;
}

.nav-btn{
    display: none;
}
@media(max-width:768px){
    .nav-bar{
        position: fixed;
        background: coral;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transition: all ease-in-out .2s;
        transform: translateY(-100%);
    }


    .nav-bar .menu{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

.nav-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: transparent;
    cursor: pointer;
    border: 0;
    padding: 15px 5px;
    display: block;
}

.hamburger{
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
   
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 5px;
    transition: all .1s ease-in-out;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before{
   top: 10px;
}
.hamburger::after{
    bottom: 10px;
}
.nav-open .hamburger{
    background: transparent;
}
.nav-open .hamburger::before{
    transform: rotate(405deg) translateY(-8px) translateX(-7px);
}
.nav-open .hamburger::after{
    transform: rotate(-405deg) translateY(8px) translateX(-7px);
}

.nav-open .nav-bar{
    transform: translateY(0);
}
}
/* .wrapper-hero-about{
   position: relative;
}
.wrapper-hero-about .hero-img{
    position: sticky;
    top: 300px;

} */
.hero{
    /* padding-top: 100px; */
  
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
}
.hero .hero-img{
    /* width: 30%; */
    /* display: block; */
    /* padding-top: 100px; */
    /* max-width: 100%; */
    /* height: auto; */
   
   /* height: auto; */
    /* width: 100%; */
    margin-left: auto;
    position: absolute;
    right: 0px;
    opacity: 1;
    bottom: 0;
    /* width: 100%; */
    max-height: auto;
    max-width: 100%;
    /* bottom: 0; */
    /* align-items: right; */
    /* height: min-content; */
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* height: 80%; */
    
}
.hero .hero-img img{
    /* width: 30%; */
    /* display: block; */
    /* padding-top: 100px; */
    /* max-width: 100%; */
    /* height: auto; */
   
   /* height: auto; */
    /* width: 100%; */
   
    max-height: 100%;
    max-width: 100%;
    min-width: 160px;
    min-height: 320px;
    
    /* bottom: 0; */
    /* align-items: right; */
    /* height: min-content; */
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* height: 80%; */
    
}
/* .hero .svg-style{
    width: 45%;
    position: absolute;
    top: -100px;
    right: 100px;
    z-index: -1;
} */
.hero .svg-style2{
    /* width: 70%; */
    position: absolute;
    bottom: -650px;
    /* right: -200px; */
    z-index: 1;
}
.hero .intro-info{
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family:"Montserrat";
    /* font-size: 54px; */
    padding-left: 15%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}
.hero .intro-info .intro-head{
   
    position: relative;
}
.hero .intro-info .intro-head h1{
    font-size: 6rem;
    line-height: 5.5rem;
    letter-spacing: .4rem;
    color: white;

}
.hero .intro-info .intro-head h3{
    /* text-align: left; */
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    /* padding-right: 100%; */
    /* display: block; */
   /* margin: 0 auto; */
   /* position: absolute; */
   margin-right: auto;

   
  
}
.hero .intro-info .intro-sub{
    font-size: 3rem;
    padding: .2rem 2rem;
    position: relative;
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 5px;
}
.hero .intro-info .intro-sub::after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.1);
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}
@keyframes shine{
    0%{
       top: -300%;
        left: -500%;
       
    }
    50%{
        top: 200%;
      left: 500%;
     
     
    }
    100%{
        top: -300%;
        left: -500%;
       
       
    }
}
.hero .intro-info .intro-sub::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
    animation: shine 10s ease-in-out infinite alternate-reverse both;
    animation-delay: 10s;

}
.hero .intro-info .cta-btn{
    margin: 1rem 0;
}
.hero .intro-info .cta-btn a{
   
    padding: .5rem 2rem;
    background: linear-gradient(134deg,#5a74f7 20%,   #6A98F0 90%);
    border-radius: 5px;
    transition: 0.3s ease-in-out;

}
.hero .intro-info .cta-btn a:hover{
    transition: 0.3s;
    /* background: linear-gradient(134deg,black 10%,white 90%); */
    background:  linear-gradient(134deg, #6A98F0 20%,  #5a74f7 90%) ;
   
}
.hero .intro-info .social-links img{
    max-width: 3rem;
}
.hero .intro-info .social-links .link-1 img,.link-3 img{
    animation: rotate 20s linear infinite ;
    /* animation: pulse 10s ease-in-out infinite; */
}
.hero .intro-info .social-links .link-2 img,.link-4 img{
    animation: rotate 20s linear infinite reverse;
}
@keyframes rotate{
    0%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        transform: scale(1.2) rotate(90deg);
    }
    50%{
        
        transform: scale(.8) rotate(180deg);
    }
    75%{
        
        transform: scale(1.2) rotate(270deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
@keyframes pulse{
    0%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(.8);
    }
}

.hero .intro-info .social-links{
    position: relative;
    
}
/* .hero .intro-info .social-links .fake-cir{
    height: 500px;
    width: 500px;
    position: absolute;
    background: transparent;
    border: tomato 5px dotted;
    border-radius: 50%;
    top: -400px;
    left: -270px;
    z-index: -10;
} */
.hero .intro-info .social-links .link-1{
    position: absolute;
    transform: translate(30px, 60px);
    font-size: 2rem;
    /* z-index: -2; */
}
.hero .intro-info .social-links .link-1 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(-10deg);
}
.hero .intro-info .social-links .link-2{
    position: absolute;
    transform: translate(-130px, 60px);
    font-size: 2rem;
    /* z-index: -2; */
    
}
.hero .intro-info .social-links .link-2 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(20deg);
}
.hero .intro-info .social-links .link-3{
    position: absolute;
    transform: translate(-250px, -20px);
    font-size: 2rem;
    /* z-index: -2; */
}
.hero .intro-info .social-links .link-3 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(40deg);
}
.hero .intro-info .social-links .link-4{
    position: absolute;
    transform: translate(-310px, -130px);
    font-size: 2rem;
    /* z-index: -2; */
}
.hero .intro-info .social-links .link-4 i{
    position: absolute;
    /* top: -50px; */
    left:.6rem;
    top: .5rem;
    transform: rotateZ(70deg);
}
.hero .intro-info .intro-head .dev-hello {
    position: absolute;
  
    font-size: 15vw;
    left: -100px;
    top: -50px;
    font-family: "Montserrat";
    color: rgb(68, 64, 64);
    z-index: -5;
    
   
    
}

.about-me .grid-view{
    display: grid;
    grid-template-columns: 
    70%  30%;
    grid-gap: 20px;
}
.about-me .container .cols{
    padding: 0 15px;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}
.about-me .container .cols p{
    padding-bottom: 1em;

}
.about-me .container .what-i-do .flex-b3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    margin: 0 auto;
}
.about-me .container .what-i-do .flex-b3 >div{
    padding: 0 15px;
    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

/* ================ My Skills ========== */
.about-me .container .my-skills{
    position: relative;
}
.about-me .container .my-skills .outer-parallax{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 150px 0;
    font-size: 100px;
    color: #6D83F2;
}
.about-me .container .my-skills .inner-parallax p{
    
    position: absolute;
}
.about-me .container .my-skills .inner-parallax  {
   position: absolute;
   z-index: -50;
   color: #9aa7e7;
   opacity: .5;
    width: 100%;
    height: 100%;
    /* background: chartreuse; */
}

/* ================ My Projects================ */
.my-projects .container .project-wrapper{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-row: 1fr;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: justify;
    padding: 15px;
    margin: 50px 0;
}
.my-projects .container .project-wrapper > div{
    padding:0 1em;
}
.my-projects .container .project-wrapper .project-text .project-content h2{
    padding: 0 0 1em 0;
    font-size: 1.5em;

}
.my-projects .container .project-wrapper .project-text .more-info{
    display: flex;
    justify-content: space-between;
}
.my-projects .container .project-wrapper .project-text .more-info >div{
    text-align: center;
    margin: 50px 0;
}
.my-projects .container .project-wrapper .project-text .more-info .tech-used{
    font-size: 2em;
    color:#6D83F2;
}
.my-projects .container .project-wrapper .project-text .more-info .tech-used >  {
    padding-left: 1em;
}
.my-projects .container .project-wrapper .project-view {
    justify-content: center;
    align-items: center;
    display: flex;
    /* background:linear-gradient(rgba(134, 147, 212, 0.3), rgba(199, 208, 255,.3)); */
   
   
}
.my-projects .container .project-wrapper .project-graphics img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* ====================== Contact Form ================== */
